@import "trix/dist/trix.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .background-gradient-pattern {
        background-image: url(/images/bg-pattern.svg);
        background-position: 100% 0;
        background-repeat: repeat;
        background-size: 20px, 20px;
        bottom: 0;
        left: 0;
        mix-blend-mode: overlay;
        position: absolute;
        right: 0;
        top: 0;
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fadeInUp {
        animation: fadeInUp 1s;
    }

    @keyframes scale {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .scale {
        animation: scale 1s;
    }

    @media (prefers-reduced-motion) {
        .fadeInUp,
        .scale {
            animation: scale 0s;
        }
    }
}
