@import "trix/dist/trix.css";

@import 'tailwindcss';

@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.text-color {
    @apply text-zinc-600 hover:text-zinc-800 dark:hover:text-white dark:text-white/70;
}

.bg-color {
    @apply bg-zinc-900/4 dark:bg-white/10;
}

/* For front end */
.bg-surface {
    @apply bg-neutral-50 dark:bg-neutral-900/80;
}

.bg-surface-muted {
    @apply bg-neutral-100 dark:bg-neutral-800/90;
}

.text-surface {
    @apply text-zinc-600 dark:text-white/90;
}

@layer utilities {
    .background-gradient-pattern {
        background-image: url(/images/bg-pattern.svg);
        background-position: 100% 0;
        background-repeat: repeat;
        background-size: 20px, 20px;
        bottom: 0;
        left: 0;
        mix-blend-mode: overlay;
        position: absolute;
        right: 0;
        top: 0;
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fadeInUp {
        animation: fadeInUp 1s;
    }

    @keyframes scale {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .scale {
        animation: scale 1s;
    }

    @media (prefers-reduced-motion) {
        .fadeInUp,
        .scale {
            animation: scale 0s;
        }
    }
}
